.page-content{
  background-color: #efefef;
}
.blue{
  background-color: #2980b9;
  color:white!important;
}
.width120{
  width:120%;
}
.white{
  color:white;
}
.bold{
  font-weight: 600;
  background: #d9edf7;
}
